app/data/*
!app/data/.gitkeep
app/cache/*
!app/cache/.gitkeep
app/plugins/*
!app/plugins/.gitkeep
app/avatars/*
!app/avatars/.gitkeep
app/upload/*
!app/upload/.gitkeep
app/assets/plugins.css
app/assets/plugins.js
.DS_Store
.vscode
.codebuddy
docker/.env
migrate_repository_cards.php
