data/*
!data/.gitkeep
cache/*
!cache/.gitkeep
avatars/*
!avatars/.gitkeep
upload/*
!upload/.gitkeep
plugins/*
!plugins/.gitkeep
plugins.css
plugins.js
plugins-admin.css
plugins-admin.js
scripts/*
.DS_Store
